/**
 * Styles for the add-observation.html page 
 */

 .required {
    color: red;
    font-weight: bold;
 }

 #observation-details {
    height: 340px;
    padding: 10px;
    margin-bottom: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: skyblue;
    border-radius: 8px;
 }

 #observation-details #observe-heading {
    width: 93px;
    margin-top: -22.5px;
    background: white;
    font-weight: bold;
 }

 #observation-details #description, 
 #photo-details #photographer-name, 
 #photo-details #photographer-email {
    width: 55%;
 }

 #observation-details #notes {
    width: 57.5%;
 }

 #location-details {
    height: 190px;
    padding: 10px;
    margin-bottom: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: skyblue;
    border-radius: 8px;
 }

 #location-details #observe-heading {
    width: 66px;
    margin-top: -22.5px;
    background: white;
    font-weight: bold;
 }

 #photo-details {
    height: 300px;
    padding: 10px;
    margin-bottom: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: skyblue;
    border-radius: 8px;
 }

 #photo-details #observe-heading {
    width: 47px;
    margin-top: -22.5px;
    background: white;
    font-weight: bold;
 }